<!DOCTYPE html>
<html>

<head>
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.css" rel="stylesheet" />
  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.js"></script>

  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-auto-replace-svg="nest"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/donorForm.css">

  <script src="js/donorForm.js"></script>

  <title>CoviShare - Donor</title>

</head>

<body>

    <section class="complete">
       
       <div class="container-fluid">
           <div class="inside col-lg-6 m-auto border border-primary">
            <br>
            <p class="intro" >Please fill the following information to register as voluntary donor and become part of F2S vision. Also please update your profile/information if in case you relocate in future.</p>
            <br>
             <h3> Registration Form for donors!</h3>
             <br>
                <form name="myform" id="myForm" action="">
                  <div class="mb-3">
                    <input name="username" id="name" class="form-control" placeholder="Enter Name" type="text" required>
                  </div>
                
                  <div class="mb-3">
                    <input name="phone" id="phoneNo" class="form-control" placeholder="Enter Mobile Number" type="text" required>
                  </div>
                
                  <div class="mb-3">
                    <input name="email" id="email" class="form-control" placeholder="Enter Email Number" type="text">
                  </div>
                
                
                  <div class="mb-3">
                    <select class="form-select" name="need" id="needSel" size="1">
                      <option value="all" selected>Select what you need</option>
                      <option value="medicine1">Medicine1</option>
                      <option value="medicine2">Medicine2</option>
                      <option value="medicine3">Medicine3</option>
                      <option value="bed1">Oxygen Bed</option>
                      <option value="cylinder1">Cylinder</option>
                    </select>
                  </div>
                
                  <div class="mb-3">
                    <input name="quantity" id="quantity" class="form-control" placeholder="Enter Quantity" type="number" required>
                  </div>
                
                  <div class="mb-3">
                    <select class="form-select" name="state" id="stateSel" size="1">
                      <option value="all" selected>Select State</option>
                    </select>
                  </div>
                
                
                
                  <div class="mb-3">
                    <select class="form-select" name="city" id="citySel" size="1">
                      <option value="all" selected="selected">Select state first</option>
                    </select>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked required>
                    <label class="form-check-label" for="flexCheckChecked">
                      I authorise this website to display my name and telephone number, so that the needy could contact me, as and when
                      there is an emergency.
                    </label>
                  </div>
                  <br>
                  <div class="mb-3">
                    <input class="btn btn-outline-primary" type="submit">
                  </div>
                  <br>
                  <closeform></closeform>
                </form>
            </div>
       </div> 

    </section>
    
</body>
</html>
