<!DOCTYPE html>

<html lang="en">

  <head>
    <title>My Express subpage</title>
  </head>
  
  <body>
    <h1>ExpressApp Subpage</h1>
    <p>Welcome to one of the App subpage, with team HackOn 2.0!</p>
    <div align="center">As you can see, it's just pure HTML here! Check out the source files in /views to verify it!
      <a href="/">Back to Home</a>
    </div>
  </body>

</html>
