<!DOCTYPE html>

<html>

  <head>
    <title>My Express Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <h1>ExpressApp</h1>
    <p>Welcome to the App, with team HackOn 2.0!</p>
  </body>

</html>
