<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="fonts/icomoon/style.css" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />

  <!-- Style CSS -->
  <link rel="stylesheet" href="css/style.css" />
  <title>CoviShare</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CoviShare</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <a class="btn btn-outline-primary" href="#">Login / Sign up</a>
    </div>
  </nav>

  <div class="
        position-relative
        overflow-hidden
        p-3 p-md-5
        m-md-3
        text-center
        bg-light
      ">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">CoviShare</h1>
      <p class="lead font-weight-normal">
        A Place where one can fulfill all their needs by helping each other. It is a genuine and authorized place and trusted by millions.
      </p>
      <!-- <a class="btn btn-outline-secondary" href="#">Coming soon</a> -->
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

  <div class="container">
    <div class="row d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="col-6">
        <div class="
              bg-light
              mr-md-3
              pt-3
              px-3
              pt-md-5
              px-md-5
              text-center
              overflow-hidden
            ">
          <div class="my-3 p-3">
            <h2 class="display-5">Want to Donate</h2>
            <p class="lead">
              You can donate whatever you want to help needy ones.
            </p>
          </div>
          <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px">
            <img src="images/donate.jpg" style="width: 100%; height: 100%" alt="image" />
          </div>
          <a class="m-4 btn btn-primary" href="/donate">Donate Now</a>
        </div>
      </div>
      <div class="col-6">
        <div class="
              bg-light
              mr-md-3
              pt-3
              px-3
              pt-md-5
              px-md-5
              text-center
              overflow-hidden
            ">
          <div class="my-3 p-3">
            <h2 class="display-5">Are you in need</h2>
            <p class="lead">
              Submit the form to put the request and wish you could get help
              soon.
            </p>
          </div>
          <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px">
            <img src="images/gethelp.jpg" style="width: 100%; height: 100%" alt="image" />
          </div>
          <a class="m-4 btn btn-primary" href="#">Get Help Now</a>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer-16371">
    <hr />
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9 text-center">
          <div class="footer-site-logo mb-4">
            <a href="#">CoviShare</a>
          </div>
          <ul class="list-unstyled nav-links mb-5">
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>

          <div class="social mb-4">
            <h3>Stay in touch</h3>
            <ul class="list-unstyled">
              <li class="in">
                <a href="#"><span class="icon-instagram"></span></a>
              </li>
              <li class="fb">
                <a href="#"><span class="icon-facebook"></span></a>
              </li>
              <li class="tw">
                <a href="#"><span class="icon-twitter"></span></a>
              </li>
              <li class="pin">
                <a href="#"><span class="icon-pinterest"></span></a>
              </li>
              <li class="dr">
                <a href="#"><span class="icon-dribbble"></span></a>
              </li>
            </ul>
          </div>

          <div class="copyright">
            <p class="mb-0">
              <small>&copy; CoviShare. All Rights Reserved.</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>